@model CompetentumWebApp.Models.Resume

@{
    ViewBag.Title = "Details";
}

<h2>Резюме</h2> <h4>@Html.DisplayFor(model => model.last_name) @Html.DisplayFor(model => model.first_name) @Html.DisplayFor(model => model.middle_name)</h4> 
<h2>Должность - @Html.DisplayFor(model => model.SpecializationName)</h2>
<br />

<div style="width:100%">
    <h4>Основная информация</h4>
    <div class="table-responsive" style="width:45%">
        <table class="table table-bordered table-hover">
            <tr>
                <th @*width=20%*@>
                    @Html.DisplayNameFor(model => model.last_name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.last_name)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.first_name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.first_name)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.middle_name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.middle_name)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gender.GenderName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Gender.GenderName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.birth_date)
                </th>
                <th>
                    @Html.DisplayFor(model => model.birth_date)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.CityName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MetroName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.MetroName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </th>
            </tr>
        </table>
    </div>

    <h4>Ожидания</h4>
    <div class="table-responsive" style="width:45%">
        <table class="table table-bordered table-hover">
            <tr>
                <th @*width=20%*@>
                    @Html.DisplayNameFor(model => model.SpecializationName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.SpecializationName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SalaryAmount)
                </th>
                <th>
                    @Html.DisplayFor(model => model.SalaryAmount) @Html.DisplayFor(model => model.Currency.CurrencyAbbr) @*здесь должна быть валюта из таблицы*@
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Schedule.ScheduleName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.Schedule.ScheduleName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmploymentName.Employement_Name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.EmploymentName.Employement_Name)
                </th>
            </tr>
        </table>
    </div>

    <div class="table-responsive" style="width:45%">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Опыт работы @*@Html.DisplayNameFor(model => model.ExperienceCompany)*@
                </th>
                <th>
                    @Html.DisplayFor(model => model.ExperienceCompany) @Html.Raw(", ") @Html.DisplayFor(model => model.ExperiencePosition)
                </th>
            </tr>

            @*здесь должна быть подключена таблица, и должен выводиться уровень образования*@
            @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.PrimaryName)
                </th>
            </tr>*@

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.skills)
                </th>
                <th>
                    @Html.DisplayFor(model => model.skills)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.language.list_name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.language.list_name)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.languageLevel.Level_name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.languageLevel.Level_name, ViewBag.LanguageLevels as SelectList)
                </th>
            </tr>

            @*<dt>
                @Html.DisplayNameFor(model => model.ElementaryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementaryName)
            </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.ElementaryYear)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ElementaryYear)
            </dd>*@

            @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryOrganization)
                </th>
                <th>
                    @Html.DisplayFor(model => model.PrimaryOrganization)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryResult)
                </th>
                <th>
                    @Html.DisplayFor(model => model.PrimaryResult)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryYear)
                </th>
                <th>
                    @Html.DisplayFor(model => model.PrimaryYear)
                </th>
            </tr>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.LevelName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LevelName)
            </dd>*@

            @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.IndustryAreaName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.IndustryAreaName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IndustryName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.IndustryName)
                </th>
            </tr>*@

            @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExperienceStart)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ExperienceStart)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExperienceEnd)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ExperienceEnd)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExperienceDescription)
                </th>
                <th>
                    @Html.DisplayFor(model => model.ExperienceDescription)
                </th>
            </tr>*@

            @*<tr>
                <th>
                    @Html.DisplayNameFor(model => model.CitizenshipName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.CitizenshipName)
                </th>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkTicketName)
                </th>
                <th>
                    @Html.DisplayFor(model => model.WorkTicketName)
                </th>
            </tr>*@
        </table>
    </div>

        <h4>История взаимодействия с кандидатом</h4>
        <div class="table-responsive" style="width:45%">
            <table class="table table-bordered table-hover">
                <tr>
                    <th @*width=20%*@>
                        @Html.DisplayNameFor(model => model.Source.SourceName)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Source.SourceName)
                    </th>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.State.StateName)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.State.StateName) @*статус из таблицы*@
                    </th>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StateDate)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.StateDate)
                    </th>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InterviewDate)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.InterviewDate)
                    </th>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Commentary)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.Commentary)
                    </th>
                </tr>
            </table>
        </div>

<h4>Связанные вакансии</h4>
        <div class="table-responsive" style="width:80%">
            <table class="table table-bordered table-hover">
                <tr>
                    <th width=40%>
                        Название
                    </th>
                    
                    <th width=20%>
                        Регион
                    </th>

                    <th width=40%>
                        Направление работы
                    </th>

                </tr>

            </table>
        </div>

<h4>Предложение</h4>
        <div class="table-responsive" style="width:80%">
            <table class="table table-bordered table-hover">
                <tr>
                    <th width=60%>
                        На испытательный срок
                    </th>

                    <th width=40%>
                        После испытательного срока
                    </th>

                </tr>
            </table>
        </div>

</div>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Обратно к базе резюме", "ResumeView")
</p>

@section scripts {
    @*NOTE: These should NOT be used in a production situation
        They do contains useful snippets on how to setup charts*@
    <script src="~/Scripts/AdminLTE/pages/dashboard2.js"></script>
    <script src="~/Scripts/AdminLTE/demo.js"></script>
}
